.header-menu-item {
  list-style: none;
}

.header-menu-link {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}

.btn-signin {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.btn-starttrial {
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.hero-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: #01996d;
}

.hero-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}

.hero-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
}

.works-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}

.wokrs-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
}

.works-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.works-item {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.works-nuber {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.works-item-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
}

.works-item-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.works-item {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.works-nuber {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.works-item-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.works-item-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.works-item {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #ffffff;
}

.works-nuber {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.works-item-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.works-item-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.works-item {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.works-item-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.works-item-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.success-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #ffffff;
}

.success-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #ffffff;
}

.success-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.way-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #424242;
}

.way-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
}

.way-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}

.link-way {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.footer {
    background-color: #245852;
}

.footer-logo {
  opacity: 0.3;
}

.footer-menu-item {
list-style: none;
}

.footer-logo-link {
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
text-decoration: none;
}
